/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/assets
/public/mp3
/public/theme/img
/public/theme/img
/public/theme/travel doc
/public/gdrive_auth/token.json
/public/txt
/storage/logs/
/public/tmp/
/public/output
